.styles_button__3pqej {
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    color: #209ae5;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styles_button__3pqej:hover {
    color: rgb(82, 204, 279) !important;
}
.styles_headerWrapper__3RX6a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.styles_buttonGroup__3YB3Y {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.styles_tagButton__10P1C {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 18px;
    border: solid 0.5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0px 8px;
}

.styles_tagButton__10P1C:hover {
    color: rgba(0, 0, 0, 0.6) !important;
}
.styles_content__2I1Dq {
    width: 100%;
    height: 100%;
}

.styles_headers__2RUOX {
    text-align: right;
    font-weight: 300;
}

.styles_calendarTable__1uJYP {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.styles_calendarWeekDays__3Zluf {
    background: #f7f7f7;
    display: table-row;
    direction: ltr;
    table-layout: fixed;
    width: 100%;
}

.styles_calendarWeekDay__2GUkL {
    text-align: right;
    height: 2.5em;
    padding: 0 0.5em;
    line-height: 2.5em;
    font-size: 1em;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: table-cell;
}
.styles_calendarCell__mYOzZ {
    border-left-style: solid;
    border-left-width: 1px;
    background: #fff;
    border-color: #ccc;
    color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    max-width: 14.285715%;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    display: table-cell;
    text-align: right;
}

.styles_calendarCellInner__2d7Zd {
    min-height: 4.75em;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: right;
}

.styles_calendarCellText__2cBQM {
    width: 1.375em;
    height: 1.375em;
    opacity: 0.5;
    line-height: 1.375em;
    margin: 0.1875em;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 2em;
    display: inline-block;
    text-align: center;
    box-sizing: content-box;
}

.styles_thisMonth__i4WNl {
    opacity: 1;
}

.styles_calendarCell__mYOzZ:hover .styles_calendarCellText__2cBQM {
    background: rgba(0, 122, 255, 0.3);
}

.styles_selectedDate__3PTH1 {
    background: rgba(0, 122, 255, 1) !important;
    color: #fff;
}
.styles_calendarRow__3Kl61 {
    display: table-row;
}
.styles_mainContainer__SgUUd {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.styles_contentWrapper__22uc3 {
    width: 100%;
    flex: 1 1;
}
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * Add the correct display in IE.
 */
main {
  display: block;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}
/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}
/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}
/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction
 * ========================================================================== */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=main.1ecda225.chunk.css.map*/