.content {
    width: 100%;
    height: 100%;
}

.calendarTable {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.calendarWeekDays {
    background: #f7f7f7;
    direction: ltr;
    /* table-layout: fixed; */
    width: 100%;
}

.calendarWeekDay {
    text-align: center;
    height: 2.5em;
    padding: 0 0.5em;
    line-height: 2.5em;
    font-size: 1em;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.calendarCell {
    width: 50px;
    position: relative;
}

.hourText {
    position: absolute;
    bottom: 0;
    right: 4px;
    transform: translateY(50%);
    color: #ccc;
    font-size: 12px;
}

.firstRow {
    line-height: 12px;
}

.calendarColTitle:first-child {
    padding: 0;
}